@media screen and (min-width:576px) and (max-width:992px) {
    .last{
        display: none;
    }
}


body{
    background-color: #F0F0F0;
}

.container{
    background-color: #F0F0F0;
}

.navbar-nav{
    margin-left: 30px;
}

.navbar-brand{
    font-family: abel;
}

h1 {
    font-family: anton;
    text-align: center;
    padding: 30px;
}

h2 {
    font-family: anton;
    text-align: center;
}

#red{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    border-color: white;
    border-width: thick;
    color: white;
    background-color: #E6563b;
    margin: 25px;
}

#orange{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    border-color: white;
    border-width: thick;
    color: white;
    background-color: #EB9D3A;
    margin: 25px;
}

#green{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    border-color: white;
    border-width: thick;
    color: white;
    background-color: #7CB06C;
    margin: 25px;
}

#blue{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    border-color: white;
    border-width: thick;
    color: white;
    background-color: #00ABA9;
    margin: 25px;
}

.red1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    font-family: anton;
    background-color: #E6563b;
    margin-left: 25%;
}

.orange1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    font-family: anton;
    background-color: #EB9D3A;
}

.green1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    font-family: anton;
    background-color: #7CB06C;
}

.blue1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    font-family: anton;
    background-color: #00ABA9;
}

.work{
    font-size: 10px;
}

a{
    font-family: anton;
    text-decoration: none;
}

a:link {
    color: black;
}

a:hover{
    color: pink;
}

a:visited{
    color: #302f35;
}

a:active{
    color: #00ABA9;
}

img{
    border-color: #E6E6E6;
    border-width: thick;
}

.title{
    text-align: center;
}
h3 {
    font-size: 25px;
    font-family: anton;
}
.empty{
    width: 4%;
}



/*.bttn{*/
/*    margin-left: 10%;*/
/*}*/